:root{
    --background-color: hsl(0, 0%, 100%);
    --widgets-background-color: rgb(120, 120, 253);
    --primary-text-color: hsl(236, 86%, 31%);
    --secondary-text-color: hsl(237, 90%, 15%);
    icons{
        --users-background-color: rgb(214, 178, 214);
        --users-icon-color: rgb(139, 7, 139);
    }
}