@import './variables.scss';
.App {
  background-color: #fff;
}


.logoHeader {
  margin: 0px 20px;
  // background-color: brown;

  span {
    font-size: xx-large;
    font-weight: bold;
    color: $primary-color;
    margin-left: 10px;
  }
}