@import "./variables.scss";

.UserDashboard {
  width: 100%;

  .user-dashboard-ctn {
    background-color: ghostwhite;
    display: flex;
    justify-content: space-between;

    main {
      background-color: ghostwhite;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        // background-color: purple;
        width: 90%;

        h2 {
          color: $primary-color;
        }

        .users-box-ctn {
          // background-color: brown;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 45px auto;

          .user-box-ctn {
            background-color: #ffffff;
            width: 22%;
            text-transform: uppercase;
            color: $primary-color;
            cursor: pointer;

            div {
              background-color: #ffffff;
              width: 80%;
              margin: 20px auto;
              i {
                font-size: medium;
                padding: 10px;
                border-radius: 50%;
                margin-top: 20px;
              }

              p {
                font-size: small;
                margin-top: 25px;
              }

              h2 {
                font-size: x-large;
              }
            }
          }
        }
      }

      .dashboard {
        background-color: #ffffff;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .table-head {
          // background-color: purple;
          display: flex;
          justify-content: space-around;
          align-items: center;

          h5 {
            display: flex;
            justify-content: start;
            align-items: center;
            // background-color: rosybrown;
            margin-left: 10px;
            transform: translateY(10px);
            width: 15%;
            color: $primary-color;
            font-size: medium;
            text-transform: capitalize;
            .ico {
              margin-left: 5px;
              font-size: x-large;
            }
          }
        }

        .dashboard-ctn {
          // background-color: aqua;
          .dashboard-item {
            // background-color: chartreuse;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
            width: 100%;
            border-bottom: 2px solid  #e1dcec;

            div {
              // background-color: darkolivegreen;
              margin: 10px 20px;
              width: 15%;
              color: $primary-color;
              font-size: small;
              word-wrap: break-word;
              cursor: pointer;

              span {
                margin-left: 20px;
                font-size: large;
                transform: translateY(-50px);
              }
              .alert-box {
                background-color: royalblue;
                width: 150px;
                span {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  background-color: palevioletred;
                  font-size: small;
                  text-transform: capitalize;
                  transform: translateY(0px);
                  margin-left: 0px;
                  cursor: pointer;

                  i {
                    margin-left: 10px;
                  }

                  p {
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }

        .dashboard-footer {
          // background-color: blueviolet;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 20px auto;

          .page-num{
            // background-color: yellowgreen;
            font-weight: 400;
            p {
              color: $primary-color;
              font-size: small;

              span{
                background-color: #e1dcec;
                margin: 0 10px;
                padding: 8px;
                border-radius: 3px;
                font-weight: bold;

                .ico{
                  margin: -2px 5px ;
                  color: $primary-color;
                }
              }
            }
          }
        }
      }

      .filter-ctn {
        background-color: #ffffff;
        width: 30%;
        .filter-box {
          background-color: #ffffff;
          width: 80%;
          margin: 0px auto;

          div {
            background-color: #ffffff;
            width: 100%;
            margin: 20px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;

            label {
              color: $primary-color;
              text-transform: capitalize;
              font-weight: 600;
              margin-top: 20px;
              margin-bottom: 5px;
            }

            input {
              outline: none;
              padding: 10px;
              width: 90%;
              border-radius: 8px;
              border: 2px solid gray;
            }
          }
          .btn-ctn {
            // background-color: chocolate;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 25px auto;

            button {
              outline: none;
              padding: 12px;
              width: 45%;
              border-radius: 8px;
              font-weight: 700;
              color: #ffffff;
              text-transform: capitalize;
              border: none;
              background-color: $secondary-color;
              cursor: pointer;

              &:first-child {
                background-color: transparent;
                color: $primary-color;
                border: 1px solid $primary-color;
              }
            }
          }
        }
      }
    }
  }
}
