
.table{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
    

    &__section{
        // background-color: green;

        &__head {
            // background-color: purple;
            display: flex;
            justify-content: start;
            // align-items: center;

            h3{
                // background-color: yellow;
                text-transform: uppercase;
            }
            i {
                // background-color: brown;
                margin-left: 10px;
                font-size: 16px;
                cursor: pointer;
            }
        }
          &__body {
        // background-color: orange;

        div {
            display: flex;
            justify-content: space-between;
            width: 100px;
            // background-color: green;

             p {
            // background-color: pink;
        }

        i {
            // background-color: blue;
            font-size: 20px;
            cursor: pointer;
        }
        }
    }
    }

  
}